body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; /* Set the background to black */
  color: #fff; /* Set the text color to white for better contrast */
  text-align: left;
}

.App {
  width: 100%;
  margin: 40px auto;
  background: #1a1a1a; /* Dark gray background for the content container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1); /* Adjust shadow for dark theme */
}

.App-header {
  background-color: #333; /* Darker header background */
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

h1, h2 {
  color: #fff; /* Set headings to white */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

strong {
  color: #1e90ff; /* Bright blue for emphasis */
}

section {
  margin-bottom: 40px;
}

footer {
  background-color: #333; /* Darker footer background */
  color: white;
  padding: 10px;
  border-radius: 0 0 10px 10px;
}

footer p {
  margin: 0;
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  float: right;
}

.personal-details {
  text-align: left;
}

.documents a {
  color: #1e90ff; /* Bright blue for links */
  text-decoration: none;
  font-weight: bold;
}

.documents a:hover {
  text-decoration: underline;
}

.documents-page {
  max-width: 800px;
  margin: 40px auto;
  background: #1a1a1a; /* Dark gray background for documents */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.document-frame {
  width: 100%;
  height: 500px;
  border: lightgray 1px solid;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  border: none;
  background-color: #333; /* Darker background for tabs */
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.tabs button.active {
  background-color: #1e90ff; /* Bright blue for active tab */
  color: white;
}

.tab-content {
  margin-top: 20px;
}